body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #3159CB;
    text-align: center;
}

p {
    color: #3159CB;
    margin-bottom: 20px;
}